# Xcode / SwiftPM
build/
build-release/
dist/
DerivedData/
*.xcodeproj/
!project.yml
*.xcworkspace/
xcuserdata/
.build/
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
# macOS
.DS_Store
# Affinity's temporary document locks
*.af~lock~
# Editors
.idea/
.vscode/
